.container {
    display: flex;
    justify-content: space-between;
    background: $gray;
    border-radius: 4px;
    box-shadow: 0 0 25px $shadow;
    margin: 0 auto;
    margin-top: 5vh;
    //height: 90vh;
    box-sizing: border-box;
    position: relative;
    max-width: 1073px;
}

.sidebar {
    background: $white;
    border-right: 1px solid $blue-bg;
    box-shadow: 0 0 40px $shadow;
    box-sizing: border-box;
    border-radius: 4px 0 0 4px;
    height: 90vh;
    position: relative;
    overflow: hidden;
    width: 40%;
    z-index: 99;
}

.details {
    width: 60%;
}

@media screen and (max-width: 768px) {
    .container {
        margin: 0;
        height: 100vh;
        width: 100%;
    }
    .sidebar {
        height: 100vh;
    }
}

@media screen and (max-width: 540px) {
    .sidebar {
        position: absolute;
        width: 100%;
    }
    .details {
        width: 100%;
    }
}
