.container {
    display: flex;
    justify-content: space-between;
    background: $gray;
    border-radius: 4px;
    box-shadow: 0 0 25px $shadow;
    margin: 0 auto;
    margin-top: 5vh;
    //height: 90vh;
    box-sizing: border-box;
    position: relative;
    max-width: 1280px;
    width: 1072px;
}

.sidebar {
    background: $white;
    border-right: 1px solid $blue-bg;
    box-shadow: 0 0 40px $shadow;
    border-radius: 4px 0 0 4px;
    max-height: 90vh;
    height: 90vh;
    position: relative;
    overflow: hidden;
    flex-basis: 40%;
}

.details {
    flex-basis: 60%;
}
