@import 'colors';
@import 'tipografias';

.container__details {
    padding: 0 1rem;
    box-sizing: border-box;
}

.details__title {
    height: 70px;
    line-height: 70px;
    color: lighten($font-color,20);
    font-size: ($font-size * 1.2);
    font-weight: 600;
}

.details__tags,
.details__content {
    background: $white;
    box-shadow: 0 0 10px lighten($shadow,20);
}

.details__tags {
    padding: .5rem .6rem;
    margin-bottom: 1.2rem;
}

.details__content {
    background: $white;
    color: lighten($font-color,20);
    line-height: 1.4;
}

.details__content p {
    box-sizing: border-box;
    padding: 1.5rem;
}
.details__content p::first-letter {
    text-transform: uppercase;
}

.details__footer {
    align-items: center;
    background: #F4F5F5;
    border-top: 1px solid $blue-bg;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.details__footer svg {
    margin-left: .5rem;
}

.button {
    border: 0;
    border-radius: 4px;
    padding: .4rem .5rem;
    color: $white;
    cursor: pointer;
    outline: 0;
    vertical-align: middle;
}
.button--transparent,
.button__blue {
    font-weight: 600;
    background: $blue
}
.button--toggle {
    display: none;
    background: transparent;
    margin-right: .8rem;
}

.button--toggle span {
    border: 1px solid $shadow;
    display: block;
    margin: .26rem 0;
    width: 20px;
}

.button__blue--big {
    border-radius: 0 0 4px 0;
    padding-top: .8rem;
    padding-bottom: .8rem;
}

.button--red {
    background: $red;
}

.button--transparent {
    background: transparent;
    border: 1px solid $shadow;
    color: $shadow;
    margin-left: .6rem;
}

.tag {
    background: $white;
    //border: 1px solid lighten($font-color,20);
    box-shadow: 0 0 2px lighten($font-color,35);
    border-radius: 2px;
    color: lighten($font-color,20);
    display: inline-block;
    vertical-align: middle;
    padding: .2rem .6rem;
    padding-top: .3rem;
    margin: 0 .5rem;
}
@media screen and (max-width: 540px) {
    .button--toggle {
        display: inline-block;
    }
}
