.slideRight {
    animation: 1s slideRight forwards;

}
.slideLeft {
    animation: 1s slideLeft
}

.slideRightDetail {
    animation: 1s slideRightDetail forwards;
}
.slideLefttDetail {
    animation: 1s slideLeftDetail forwards;
}
.opacity {
    animation: 1s opacity forwards
}

@-webkit-keyframes slideRight {
    from {
        transform: translate(500px)
    }
    to {
        transform: translate(0px)
    }
}

@-moz-keyframes slideRight {
    from {
        transform: translate(0%)
    }
    to {
        transform: translate(-200px)
    }
}
    @-o-keyframes slideRight {
    from {
        transform: translate(500px)
    }
    to {
        transform: translate(0px)
    }
}
@keyframes slideLeft {
    from {
        transform: translate(-600px)
    }

    to {
        transform: translate(0)
    }
}

@keyframes slideRight {
    from {
        transform: translate(0)
    }
    to {
        display: none;
        transform: translate(-600px)
    }
}

@keyframes slideRightDetail {
    from {
        transform: translate(600px)
    }
    to {
        transform: translate(0)
    }
}
@keyframes slideLeftDetail {
    from {
        transform: translate(0)
    }
    to {
        transform: translate(-600px)
    }
}

@keyframes opacity {
    from {
        opacity: 0
    }
    to {
        opacity: 1;
    }
}


