.container__sidebar {
    background: $white;
    border-right: 1px solid $blue-bg;
    box-shadow: 0 0 40px $shadow;
    border-radius: 4px 0 0 4px;
    max-height: 90vh;
    height: 90vh;
    position: relative;
    overflow: hidden;
    width: 30%;
}

.container__emails {
    overflow-y: auto;
}

.card {
    background: $blue-bg;
    border-left: 4px solid $blue;
    border-bottom: 1px solid darken($gray, 8);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.card--readed {
    background: $white;
}

.card__right {
    text-align: right
}

.card__title,
.card__content {
    color: $blue;
    font-size: $font-size
}

.card__content {
    color: $font-color;
    margin-top: .7rem;
}
.card__content::first-letter {
    text-transform: capitalize;
}

.card__date {
    color: darken($gray, 50);
}
