.container__emails {
    overflow-y: auto;
    height: 82%;
}

.card {
    background: $blue-bg;
    border-left: 4px solid $blue;
    border-bottom: 1px solid darken($gray, 8);
    cursor: pointer;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.card--readed {
    background: $white;
    border-left: 0;
}

.card__right {
    text-align: right
}

.card__title,
.card__content {
    color: $blue;
    font-size: $font-size
}

.card--readed .card__title {
    color: $font-color
}


.card__content {
    color: $font-color;
    margin-top: .7rem;
}
.card__content::first-letter {
    text-transform: capitalize;
}

.card__date {
    color: darken($gray, 50);
}

.item-enter {
  opacity: 0.01;
}

.item-enter.item-enter-active {
  opacity: 1;
  transition: opacity 600ms ease-in;
}

.item-leave {
  opacity: 1;
}

.item-leave.item-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
