@import 'colors';

.container__header {
    background: transparent;
    border-bottom: 1px solid darken($gray,8);
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 70px;
    align-items: center;
    position: relative;
}
